
<h1> Your wishlist items</h1>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container"> 
<table class="table">

<thead>
<tr>

<th>
  description
</th>
 <th>
    AVailablity
  </th>

  <th>
      Date of Arrival
    </th> 
    <th>
      Update
    </th>
    <th>
      Delete
    </th>
</tr></thead>


<tbody>
 <tr *ngFor= "let mylist of bucketlists">


 <td>{{mylist.description}}</td> 
  <td>{{mylist.availability}}</td>
  <td>{{mylist.deliveryDate | date | lowercase}}</td> 

  <td><button  (click) = "deleteByID(mylist.usserId)"  class="btn btn-warning" >Delete</button> </td>
  <td><button  (click) = "UpdateByID(mylist.usserId)"  class="btn btn-warning" >Update</button> </td>
  </tr>

</tbody>

</table>
</div>
